body {
    background-color: #EBEBEB;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
}

.wrapper {
  background-color: white;  
  width: 80%;
  margin: 44px auto;
  /*font: Arial, Helvetica, sans-serif;*/
  line-height: 1.5;
  box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title span {
    color: #999999;
    display: inline-block;
    margin: 0 32px;
} 

.title h1 {
    font-size: 58px;
    font-weight: normal;
    display: inline-block;
    margin: 0 32px;
}

.menu {
    background-color: rgb(252, 187, 8);
}
 .menu ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
 }

 .menu li {
    padding: 24px 0;
 }
.menu li:first-child{
    padding-left: 10px;
}
.menu li:last-child{
    padding-right: 10px;
}
 .menu a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
 }

.menu a:hover {
    color: white;
}

.image img {
    width: 100%;
    margin: 32px 0;
}

.main a,
.bottom a {
    color: rgb(252, 187, 8);
}
.main a:hover,
.bottom a:hover {
    text-decoration: none;
}

.main {
    display: flex;
        
}

.leftSide,
.text {
  padding: 20px;
}

.leftSide ul {
padding-left: 24px;
}

.leftSide li {
    /*list-style-image: url("li.gif");*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 0;
}

.leftSide li:first-child {
    padding-top: 0;
}
.leftSide li:last-child {
    padding-bottom: 0;
}

.leftSide span,
.leftSide h3 {
 padding-left: 12px;
 display: inline-block;
}

.leftSide span {
 padding-top: 12px;
}

.leftSide h3 {
    font-weight: normal;
    font-size: 28px;
}

.leftSide-block {
   margin-bottom: 32px; 
}

.text span {
    color: gray;
    display: inline-block;
    padding-bottom: 20px;
}

.text p {
    text-align: justify;
}

.text h2 {
    font-weight: normal;
    font-size: 40px;
}

.text-part {
    padding-bottom: 28px;
}


.link {
    display: flex;
    justify-content: flex-end;
}


.link a {
    text-decoration: none;
    padding:  4px 8px;
    border: 1px solid rgb(204, 203, 203); 
    border-radius: 5px;
}

.link a:hover {
    background-color: rgb(247, 230, 230);
}

.bottom {
   border-top: 1px solid rgb(204, 203, 203); 
   text-align: center;
   padding: 24px 0;
}
